@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap");
* {
  font-family: "Baloo Bhai 2", cursive;
  font-weight: bold;
}
body {
  margin: 0px auto;
  max-width: 90%;
}

.note {
  background-color: aqua;

  border-radius: 10px;
  padding: 2em;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.note.add-note {
  background-color: aquamarine;
}
textarea {
  background-color: aquamarine;
  border: none;
  resize: none;

  overflow: hidden;
}
textarea:focus {
  outline: none;
}
.note-save{
  border-radius:15px ;
  padding: 3px 15px 3px 15px;
  border: none;

}
.note-save:hover{
  background-color: rgb(240, 233, 233);
  cursor: pointer;
}
.note-list {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.note-footer {
  display: flex;
  justify-content: space-between;
}
.delete-note{
  cursor: pointer;
}
.delete-note:hover{
  color: rgb(80, 78, 78);
}
.note-search{
  display: flex;
  align-items: center;
  background-color: #D1D5DB;
  border-radius: 10px;
  padding: .8em;
  margin: 1em 0;
}
.note-search input{
  border: hidden;
  background-color: #D1D5DB;
  
}

.note-search input:focus{
  outline: none;
}